@import "../../../../../utils/colors";

.file-list {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  color: @light;
  align-items: center;
  border-bottom: 1px solid #495974;
  padding-bottom: 4px;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  &:hover &-download-btn {
    display: flex;
    grid-column-start: 5;
    justify-self: center;
  }
  &:hover .file-share-btn {
    display: flex;
    grid-column-start: 4;
    justify-self: center;
  }


  &:hover &-favor-btn {
    display: flex;
    grid-column-start: 5;
    justify-self: center;
  }

  &:hover &-unfavor-btn {
    display: flex;
    grid-column-start: 5;
    justify-self: center;
  }

  &:hover &-basket-btn {
    display: flex;
    grid-column-start: 6;
    justify-self: center;
  }

  &:hover &-date {
    display: none;
  }

  &:hover &-size {
    display: none;
  }

  .file-img {
    margin-left: 30px;
  }

  &-name {
    grid-column-start: 2;
  }

  &-date {
    justify-self: center;
    font-weight: 300;
    grid-column-start: 5;
  }

  &-size {
    justify-self: center;
    font-weight: 300;
    grid-column-start: 6;
  }

  &-favor-btn, &-basket-btn, &-download-btn, &-unfavor-btn, .file-share-btn {

    border: 1px solid @darkLight;
    height: fit-content;
    width: fit-content;
    padding: 5px 20px;
    display: none;
    border-radius: 18px;

    button {
      border: none;
      outline: none;
      background-size: cover;

      &:hover {
        outline: none;
      }
    }
  }

  &-favor-btn {
    button {
      height: 25px;
      width: 25px;
      background: url("../../../../../assets/img/button-favor.svg") no-repeat center center;
    }
  }
  &-unfavor-btn {
    button {
      height: 25px;
      width: 25px;
      background: url("../../../../../assets/img/button-unfavor.svg") no-repeat center center;
    }
  }

  .file-share-btn {
    button {
      height: 25px;
      width: 25px;
      background: url("../../../../../assets/img/button-share.svg") no-repeat center center;
    }
  }


  &-download-btn {
    button {
      height: 25px;
      width: 25px;
      background: url("../../../../../assets/img/button-download.svg") no-repeat center center;
    }
  }

  &-basket-btn {
    button {
      height: 25px;
      width: 25px;
      background: url("../../../../../assets/img/button-basket.svg") no-repeat center center;
    }
  }


  .file-path {
    position: absolute;
    background-color: @darkLight;
    display: none;
  }
}

.share {
  grid-column-start: 4;

  &-menu {
    margin-top: 5px;
    color: @dark;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    position: absolute;
    z-index: 999;
    &-flex {
      display: flex;

      &-link{
        margin-right: 15px;
      }
    }

    &-btn {
      padding: 3px 10px;
      width: 100%;
      border-radius: 8px;
      background-color: @darkLight;
      color: @light;
      border: none;
      outline: none;

    }
  }
}


.file-small-plate {
  margin-top: 15px;
  margin-right: 2px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 14%;
  white-space: nowrap;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  &:hover &-name {
    display: none;
  }
  &:hover &-btns-download-btn {
    display: flex;
  }

  &:hover .file-share-btn {
    display: flex;
  }

  &:hover &-btns-favor-btn {
    display: flex;
  }

  &:hover &-btns-unfavor-btn {
    display: flex;
  }

  &:hover &-btns-basket-btn {
    display: flex;
  }
  &-img {
    width: 100px;
    height: 100px;
  }

  &-name {
    width: 100px;
    text-align: center;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
  }

  &-btns {
    display: flex;
    //position: absolute;
    top: 50px;
    &-favor-btn, &-basket-btn, &-download-btn, &-unfavor-btn, .file-share-btn {

      //border: 1px solid @light;
      height: fit-content;
      width: fit-content;
      padding: 3px;
      display: none;
      border-radius: 18px;
      button {
        border: none;
        outline: none;
        background-size: contain;

        &:hover {
          outline: none;
        }
      }
    }

    &-favor-btn {
      button {
        height: 20px;
        width: 20px;
        background: url("../../../../../assets/img/button-favor.svg") no-repeat center center;
      }
    }

    .file-share-btn {
      button {
        height: 20px;
        width: 20px;
        background: url("../../../../../assets/img/button-share.svg") no-repeat center center;
      }
    }

    &-unfavor-btn {
      button {
        height: 20px;
        width: 20px;
        background: url("../../../../../assets/img/button-unfavor.svg") no-repeat center center;
      }
    }

    &-download-btn {
      button {
        height: 20px;
        width: 20px;
        background: url("../../../../../assets/img/button-download.svg") no-repeat center center;
      }
    }

    &-basket-btn {
      button {
        height: 20px;
        width: 20px;
        background: url("../../../../../assets/img/button-basket.svg") no-repeat center center;
      }
    }
  }
}

.file-big-plate {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover &-name{
    display: none;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
  &:hover &-btns {
    display: flex;
    flex-direction: row;
  }

  &-img {
    width: 200px;
    height: 200px;
  }
  &-name {
    width: 180px;
    text-align: center;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
  }
  &-btns {
    display: none;

    &-download-btn, &-favor-btn, &-basket-btn, .file-share-btn {
      padding: 3px;
      button {
        background-size: contain;
        width: 20px;
        height: 20px;
        border: none;

      }
    }
    &-download-btn {
      button {
        background: url("../../../../../assets/img/button-download.svg") no-repeat center center;
      }
    }
    &-favor-btn {
      button {
        background: url("../../../../../assets/img/button-favor.svg") no-repeat center center;
      }
    }
    .file-share-btn {
      button {
        background: url("../../../../../assets/img/button-share.svg") no-repeat center center;
      }
    }
    &-basket-btn {
      button {
        background: url("../../../../../assets/img/button-basket.svg") no-repeat center center;
      }
    }

  }

}