.file-list {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  color: #F6F5F3;
  align-items: center;
  border-bottom: 1px solid #495974;
  padding-bottom: 4px;
}
.file-list:hover {
  transform: scale(1.01);
}
.file-list:hover .file-list-download-btn {
  display: flex;
  grid-column-start: 4;
  justify-self: center;
}
.file-list:hover .file-list-favor-btn {
  display: flex;
  grid-column-start: 5;
  justify-self: center;
}
.file-list:hover .file-list-basket-btn {
  display: flex;
  grid-column-start: 6;
  justify-self: center;
}
.file-list:hover .file-list-date {
  display: none;
}
.file-list:hover .file-list-size {
  display: none;
}
.file-list .file-img {
  margin-left: 30px;
}
.file-list-name {
  grid-column-start: 2;
}
.file-list-date {
  justify-self: center;
  font-weight: 300;
  grid-column-start: 5;
}
.file-list-size {
  justify-self: center;
  font-weight: 300;
  grid-column-start: 6;
}
.file-list-favor-btn,
.file-list-basket-btn,
.file-list-download-btn {
  border: 1px solid #566885;
  height: fit-content;
  width: fit-content;
  padding: 5px 20px;
  display: none;
  border-radius: 18px;
}
.file-list-favor-btn button,
.file-list-basket-btn button,
.file-list-download-btn button {
  border: none;
  outline: none;
  background-size: contain;
}
.file-list-favor-btn button:hover,
.file-list-basket-btn button:hover,
.file-list-download-btn button:hover {
  outline: none;
}
.file-list-favor-btn button {
  height: 25px;
  width: 25px;
  background: url("../../../../../assets/img/button-favor.svg") no-repeat center center;
}
.file-list-download-btn button {
  height: 25px;
  width: 25px;
  background: url("../../../../../assets/img/button-download.svg") no-repeat center center;
}
.file-list-basket-btn button {
  height: 25px;
  width: 25px;
  background: url("../../../../../assets/img/button-basket.svg") no-repeat center center;
}
.file-list .file-path {
  position: absolute;
  background-color: #566885;
  display: none;
}
.file-small-plate {
  margin-top: 15px;
  margin-right: 2px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 14%;
  overflow-x: hidden;
  white-space: nowrap;
}
.file-small-plate:hover {
  transform: scale(1.05);
}
.file-small-plate:hover .file-small-plate-name {
  display: none;
}
.file-small-plate:hover .file-small-plate-btns-download-btn {
  display: flex;
}
.file-small-plate:hover .file-small-plate-btns-favor-btn {
  display: flex;
}
.file-small-plate:hover .file-small-plate-btns-basket-btn {
  display: flex;
}
.file-small-plate-img {
  width: 100px;
  height: 100px;
}
.file-small-plate-name {
  width: 100px;
  text-align: center;
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  text-overflow: ellipsis;
}
.file-small-plate-btns {
  display: flex;
  top: 50px;
}
.file-small-plate-btns-favor-btn,
.file-small-plate-btns-basket-btn,
.file-small-plate-btns-download-btn {
  height: fit-content;
  width: fit-content;
  padding: 3px;
  display: none;
  border-radius: 18px;
}
.file-small-plate-btns-favor-btn button,
.file-small-plate-btns-basket-btn button,
.file-small-plate-btns-download-btn button {
  border: none;
  outline: none;
  background-size: contain;
}
.file-small-plate-btns-favor-btn button:hover,
.file-small-plate-btns-basket-btn button:hover,
.file-small-plate-btns-download-btn button:hover {
  outline: none;
}
.file-small-plate-btns-favor-btn button {
  height: 20px;
  width: 20px;
  background: url("../../../../../assets/img/button-favor.svg") no-repeat center center;
}
.file-small-plate-btns-download-btn button {
  height: 20px;
  width: 20px;
  background: url("../../../../../assets/img/button-download.svg") no-repeat center center;
}
.file-small-plate-btns-basket-btn button {
  height: 20px;
  width: 20px;
  background: url("../../../../../assets/img/button-basket.svg") no-repeat center center;
}
/*# sourceMappingURL=file.css.map */