@import "../../../../utils/colors";

button:active, button:focus {
  outline: none;
}

.files-list{
  margin-top: 15px;
  margin-left: 15px;
  
  .files-list-header {
    display: grid;
    grid-template-columns:  1fr 3fr 1fr 1fr 1fr 1fr;
    color: @darkLight;
    border-bottom: 1px solid #495974;
    padding-bottom: 2px;
    &-name{
      grid-column-start: 2;
    }

    &-date{
    justify-self: center;
      grid-column-start: 5;
    }

    &-size{
      justify-self: center;
      grid-column-start: 6;
    }
  }

}

.files-plate {
  display: flex;
  flex-wrap: wrap;
}


.files-empty, .search-fetching {
  height: calc(100vh - 250px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.search-fetching {
  &-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px dashed @light;
    animation-name: search-fetching;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
}


@keyframes search-fetching {
  0%{
    transform: rotate(0grad) scale(1.0);
  }
  100% {
    transform: rotate(390grad) scale(1.3);
  }
}