@import "../../../../utils/colors";

.uploading-file {
  border-bottom: 2px solid @darkLight;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  &-name {
    font-weight: 500;
  }

}